<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navigation") %>

    <!-- Main content -->
    <main
      class="container vh-100 pt-2 d-flex align-items-center justify-content-center"
    >
      <section>
        <h1 class="display-1 text-center">About</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
          dicta odio. Molestiae eos itaque sint expedita, voluptatibus optio et,
          assumenda perspiciatis cum nulla debitis. Sed vero facere quod impedit
          enim delectus quae, totam alias dolorem similique animi illo autem cum
          magni placeat rerum deleniti quasi tempore. Magni id obcaecati harum
          ut vitae, voluptatem nobis labore veniam dolorem quae facilis neque.
          Optio consequuntur expedita obcaecati eligendi assumenda, nostrum
          numquam a libero porro, magni possimus veniam praesentium perspiciatis
          pariatur recusandae unde! Aut tenetur quae autem perferendis nostrum
          ipsum corrupti! Molestiae, assumenda. Maiores ullam earum, consectetur
          quidem non cumque nostrum commodi ratione voluptatum, adipisci
          pariatur ducimus nam, ut fuga eveniet saepe dolorum voluptates! Dicta
          illo qui mollitia magnam exercitationem laudantium. Similique sint
          beatae ipsum veniam in ad porro impedit temporibus molestiae eum
          minima error itaque dolore, laboriosam vero voluptate iste fuga
          dolorem non cum, doloribus soluta quam. Dolores repudiandae voluptate
          nesciunt fugiat magnam id unde aliquam totam ipsum, a delectus quae
          dolor error nisi eaque odit ea inventore tempora sed odio doloremque
          amet? Possimus iure nemo animi perspiciatis recusandae accusantium
          laboriosam reprehenderit rerum alias fugit reiciendis totam iusto
          aliquid aliquam, maxime assumenda atque accusamus eius facilis dicta
          dolores unde repudiandae est aperiam. Dolorum.
        </p>
      </section>
    </main>
    <!-- footer -->
    <%- include("partials/footer") %>

    <!-- scripts -->
    <%- include("partials/scripts")%>
  </body>
</html>
